telethon
motor
pymongo[srv]
dnspython
certifi
python-dotenv
cryptography
requests
aiohttp
pillow
wordfreq
certifi
pytesseract
opencv-python-headless
numpy
easyocr
opencv-python-headless
torch
torchvision

